/* Header Style */

.headerContainer {
    padding: 15px 50px ;
    background: #626262;
    box-shadow: 0px 5px 10px #00000029;
    color: white;
}

.nav-link {
    color: white;
}

.navbar-header {
    padding: 15px 50px;
}

.logo-title {
    display: flex;
    flex-flow: column;
    padding: 10px 0;
}

.navbar-brand {
    display: flex !important;
}