/*  */



.logo-title {
    display: flex;
    flex-flow: column;
    padding: 15px 0;
    letter-spacing: 0;
    color: #C5C5C5;
    line-height: 25px;
}

.navbar-logo {
    display: flex !important;
  }

  .nav-link {
    color: white;
}
